<div class="container-fluid main-container d-flex justify-content-center align-items-center">
    <div class="row d-lg-flex justify-content-center form-container rounded-3 shadow-lg px-5 pt-3 pb-4">
        <app-hearder-1></app-hearder-1>
        <div class="col-12 text-center">
            <h3 class="subheader-text">Change Password</h3>
        </div>
        <div class="container bg-white p-4 mt-2 rounded-2">
            <div class="row">
                <div class="col-12 mb-3">
                    <label for="username" class="form-label text-dark fw-bold">Username :-</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter your username"
                        autocomplete="off">
                </div>
                <div class="col-12 mb-3">
                    <label for="password" class="form-label text-dark fw-bold">New Password :-</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your new password"
                        autocomplete="off">
                </div>
                <div class="col-12 mb-3">
                    <label for="ConfirmPassword" class="form-label text-dark fw-bold">Confirm Password :-</label>
                    <input type="password" class="form-control" id="ConfirmPassword"
                        placeholder="ReEnter your new password" autocomplete="off">
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-6 md-4 mb-2 d-flex justify-content-center ">
                        <button type="button" class="btn text-black border-1 border-black fw-bold action-button"
                            routerLink="/">Cancel</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 mb-2 d-flex justify-content-center">
                        <button type="button" class="btn text-black bg-black text-white fw-bold action-button" routerLink="/change-password/confirm">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>