.main-container{
    height: 100vh;   
}
.form-container{
    background-color: #DDF2FF;
    width: 80%;
    max-width: 574px;
}
.action-button{
    width:100%;
    max-width: 200px;
    padding: 8px 20px;
}
