<div class="container-fluid">
    <div class="row">
            <app-institute-navbar></app-institute-navbar>
    </div>
    <div class="row g-3 p-3">
        <div class="col-12 col-md-4">
            <div class="p-3 border bg-light rounded text-center fw-bolder fs-4 shadow-lg">
                <div class="row"><p>No Of Students</p></div>
                <div class="row"><p>100</p></div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="p-3 border bg-light rounded text-center fw-bolder fs-4 shadow-lg">
                <div class="row"><p>No Of Teachers</p></div>
                <div class="row"><p>100</p></div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="p-3 border bg-light rounded text-center fw-bolder fs-4 shadow-lg">
                <div class="row "><p>No Of Courses</p></div>
                <div class="row"><p>100</p></div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-12">
            <div class="p-3 border bg-light rounded text-center fw-bolder fs-4 shadow-lg">
                <div class="row "><p>Course Details</p></div>
            </div>
        </div>
    </div>
    <div class="row fixed-bottom">
        <app-footer></app-footer>
    </div>
</div>

