.main-container{
    height: 100vh
}
.form-container{
    background-color: #DDF2FF;
    width: 80%;
    max-width: 574px;
}
.logo{
    width: 170px;
}


.verify-button{
    background-color: black;
}
@media (max-width: 576px) {
    .subheader-text {
        font-size: 1.5rem ;
    }
}