<header class="p-3 mb-3 border-bottom navbar-bg shadow-lg">
    <div class="container-flex">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="/institute/dashboard" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img src="logo.png" alt="mdo" width="47" height="47" class="rounded-circle">
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/student/dashboard" class="nav-link px-2 link-body-emphasis">Dashboard</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">My Courses</a>
            <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" routerLink="#">Leave Course</a></li>
                <li><a class="dropdown-item" routerLink="/student/course/search">Search Course</a></li>
            </ul>
          </li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">My Institutes</a>
            <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" routerLink="#">Leave Institutes </a></li>
                <li><a class="dropdown-item" routerLink="#">Search Institutes</a></li>
            </ul>
          </li>
        </ul>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small"> 
            <li><a class="dropdown-item" routerLink="/student/profile">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item btn-signOut" (click)="logout()">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
