/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(to bottom, #89C8ED, #B2DBF3, #FFFFFF);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
