<div class="login-form d-flex align-items-center justify-content-center ">
    <div class="row text-white px-5 pt-3 pb-2 login-form-container rounded-5 shadow-lg">
        <div class="col-12 d-flex justify-content-center">
            <img src="logo.png" alt="Logo" class="logo">
        </div>
        <div class="col-12 d-flex justify-content-center ">
            <h1 class="tuition-to-all-text">TuitionToAll</h1>
        </div>
        <div class="col-12 d-flex justify-content-center ">
            <h1 class="subheader-text">Login</h1>
        </div>
        <div class="container bg-white rounded-2 p-4">
            <div class="row">
                <div class="col-12 mb-3">
                    <label for="username" class="form-label text-dark fw-bold">Username :-</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter your username">
                </div>
                <div class="col-12 mb-3">
                    <label for="password" class="form-label text-dark fw-bold">Password :-</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password">
                </div>
                <div class="col-12 mb-2">
                    <button class="btn w-100 login-button text-white fw-bold">Login</button>
                </div>
                <div class="col-12 mb-1">
                    <div class="row">
                        <div class="col-6 text-start href-text"><a href="#" class="text-dark">I don't have an account</a></div>
                        <div class="col-6 text-end href-text"><a href="#" class="text-dark">Forgot Password?</a></div>
                    </div>
                </div>
                
            </div>
        </div>
        <p class="text-center text-dark mt-2">Copyright © 2024 TuitionToAll. All rights reserved.</p>
    </div>
</div>